

/** Boost CSS Variables **/

// @font-face {
//   font-family: boost-font-light;
//   src: url(/assets/font/OpenSans-Light.ttf);
// }
// @font-face {
//   font-family: boost-font-regular!important;
//   src: url(/assets/font/OpenSans-Regular.ttf);
// }
// @font-face {
//   font-family: boost-font-medium;
//   src: url(/assets/font/OpenSans-Semibold.ttf);
// }
// @font-face {
//   font-family: boost-font-italic;
//   src: url(/assets/font/OpenSans-Italic.ttf);
// }
:root {
  // --vegaplus-font-family: boost-font-regular;
  --font-size: 16px;

  /** primary **/
  --vegaplus-color-primary: #009595;
  --vegaplus-color-primary-rgb: 0, 149, 149;
  --vegaplus-primary-text-color: #23263E; 
  --vegaplus-primary-text-color-rgb: 35, 38, 62;

  /** secondary **/
  --vegaplus-color-secondary: #FE728B; 
  --vegaplus-secondary-text-color: #7F8299;
  --vegaplus-secondary-text-color-rgba: 127, 130, 153;

  /** tertiary **/
  --vegaplus-color-tertiary: #b13f8f;
  --vegaplus-tertiary-text-color: #00000099; //rgba(0, 0, 0, 0.66)
  --vegaplus-tertiary1-text-color: #00000061; //rgba(0, 0, 0, 0.38)


  /** white **/
  --vegaplus-color-white: #ffffff; //rgba(0, 0, 0, 0.87)
  --vegaplus-color-contrast: var(--boost-color-primary);
}

// =======================Font-Size====================

// EM value is calculated by root font size which is 16px in body.
// For ex-- 24px/16px = 1.5em

$extra-large-font: 1.625em; //---------26px;
$large-font: 1.45em; //---------20px;
$medium-font: 1.3em; //---------18px;
$root-font: 1.15em; //---------16px;
$default-font: 1em; //---------14px;
$default-medium-font: 1em; //---------13px;
$small-font: 0.86em; //---------12px;
$extra-small-font: 0.72em; //---------10px;

// =======================color====================

$darkgray: #434343;
$lightgray: #959494;
$lightyellow :#FFB900;
$darkyellow:#EA9A00;

// ==================Box-Sizing=============
$border-box: border-box;
$content-box: content-box;
