@import '../theme/main.scss';

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Rubik', sans-serif!important;
}



/*Theme*/


button, button:focus {
background: #FE728B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 4px;
padding: 9px 19px;
display: flex;
justify-content: center;
align-items: center;
border: none;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
outline: none;
position: relative;
}

.btn-border, .btn-border:focus {
background: #FFFFFF;
border: 1px solid #7F8299;
box-sizing: border-box;
border-radius: 4px;
color: #7F8299;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
font-style: normal;
font-weight: normal;
padding: 9px 14px;
width: 100%;
}
button img {
  margin-right: 5px;
}
/*theme ends*/

/*animation*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}
/*animation*/


/*header*/

header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 9999;
}

.fixed-header {
    animation-name: fadeInDown;
    background-color: #fff;
    z-index: 9999;
}
.inner-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 22px 0;
}
.nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-list li {
        margin-right: 32px;
        list-style: none;
}
.nav-list li:last-child {
    margin-right: 0;
}
.nav-list li a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    text-decoration: none;
}
/*header*/

.section-banner {
    background-image: url(../images/banner.png);
    background-size: cover;
    width: 100%;
    height: 664px;
    padding-top: 18%;
}

.banner-form-wrapper h2{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #009595;
    margin-bottom: 24px;
}

.banner-form-wrapper form h3 {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.banner-form-wrapper .input-wrap {
    position: relative;
    width: 548px;
}
.search-input {
width: 548px;
height: 48px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 4px;
outline: none;
border:none;
padding-left: 15px;
font-size: 14px;
}
.search-input::placeholder {
font-size: 14px;
color: #828282;
}
.search-input::-webkit-input-placeholder {
font-size: 14px;
color: #828282;
}
.magnifire {
position: absolute;
top: 7px;
right: 13px;
background-image: url(../images/search.svg);
width: 20px;
height: 20px;
background-repeat: no-repeat;
margin-bottom: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
button:focus {
    outline: none;
}
.btn-search {
display: flex;
align-items: center;
justify-content: flex-start;
position: absolute;
width: 104px;
height: 36px;
top: 7px;
right: 7px;
}



/*banner cards*/

.card-section {
  position: relative;
}
.banner-cards-wrapper {
    max-width: 1042px;
    margin: auto;
    margin-top: -40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.banner-card {
    width: 220px;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 25px;
    text-align: center;
}
.card-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4F4F4F;
  margin-bottom: 0;
  margin-top: 20px;
}


/*section explore*/

.section-explore {
  position: relative;
  margin-top: 100px;
}

.explore-wrapper {
  width: 100%;
}
.section-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #009595;
  position: relative;
}
.section-heading:after {
  width: 80px;
  background: #FE728B;
  border-radius: 2px;
  position: absolute;
  content: "";
  height: 3px;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: auto;
}
.explore-chips-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
  max-width: 1124px;
  margin: auto;
}
.explore-chips, .explore-chips:hover {
  background: #FFEBEF;
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #333333;
  padding: 8px 35px;
  text-decoration: none;
  margin-right: 16px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.section-testimonials {
  position: relative;
  background-image: url(../images/bg-illus.svg);
  background-position: center -50px;
  background-repeat: no-repeat;
  margin-top: 100px;
  
}
.testimonials-wrapper {
  padding: 40px 0;
  padding-bottom: 75px;
}
.testimonial-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.testimonial-bx {
  width: 258px;
}
.testimonials-wrapper {
  max-width: 1220px;
  margin: auto;
}
.testimonial-bubble {
  position: relative;
  background-image: url(../images/orange-bubble.svg);
  width: 275px;
  height: 150px;
  padding: 30px 40px 32px 27px;
  background-repeat: no-repeat;
}
.pink-bubble {
  background-image: url(../images/pink-bubble.svg);
}
.violet-bubble {
  background-image: url(../images/violet-bubble.svg);
}
.blue-bubble {
  background-image: url(../images/blue-bubble.svg);
}
.quotes {
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 10px;
  left: 15px;
}
.testimonial-bubble p {
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
}

.user-bx {
  text-align: center;
}
.user-bx h6 {
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #000000;
}


.section-5 {
  margin-top: 100px;
  position: relative;
}
.toprated-bx {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1015px;
  margin: auto;
}

.toprated-card {
  display: block;
  width: 315px;
  margin-bottom: 32px;
}
.toprated-bx .toprated-card:first-child {
  background-color: #fff;
  padding-top: 40px;
}
.toprated-bx .toprated-card:first-child:hover {
  text-decoration: none;
}
.toprated-bx .toprated-card:first-child h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #FE728B;
}
.toprated-img {
  width: 100%;
  max-width: 100%;
  border-radius: 6px;
}



.section-6 {
 position: relative;
 margin-top: 100px;
}

.community-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1015px;
  margin: auto;
}
.community-text {
  background-color: #F7FBFB;
  padding: 100px 50px;
  flex: 1;
}

.community-text h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #009595;
}
.community-text p {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FE728B;
}
.btn-join-fb {
  
}
.community-img {
  width: 406px;
height: 500px;
box-shadow:0px 4px 44px rgba(0, 0, 0, 0.15);
}
.community-img img {
  width: 100%;
  max-width: 100%;
  box-shadow:0px 4px 44px rgba(0, 0, 0, 0.15);
}

.section-7{
  background-color: #F7FBFB;
  margin-top: 100px;
}

.daycare-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1015px;
  margin: auto;
}
.daycare-heading-bx {
  padding: 40px 0;
  flex: 1;
}

.daycare-heading-bx h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 20px;
}
.daycare-heading-bx p {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FE728B;
  margin-bottom: 20px;
}

.daycare-text-bx {
  padding: 40px 0;
  width: 50%;
}

.daycare-text-bx p{
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #333333;
}

.section-quicklinks {
 background-image: url(../images/quicklinks-bg.png);
 padding: 60px 0;
}
.quicklinkwrapper {
  max-width: 1015px;
  margin: auto;
}

.quiclinkheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quiclinkheader h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;
  color: #009595;
  margin-bottom: 0%;
}
.zip-search {
  position:relative
}
.zip-search-field, .zip-search-field:focus {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  width: 400px;
  height: 56px;
  border: none;
  padding: 10px 20px 10px 18px;
  outline: none;
}

.zip-search label {
  position: absolute;
  right: 13px;
  width: 18px;
  height: 18px;
  top: 14px;
}

.quicklins-wrapper {
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 0;
}

.quicklins-wrapper li {
  list-style: none;
  display: block;
}
.padding-left {
  padding-left: 25%;
}
.quicklins-wrapper li a {
  font-size: 14px;
  line-height: 32px;
  color: #333333;
  font-style: normal;
  font-weight: normal;
}

/*Footer*/

footer {
  background: #4F4F4F;
  padding: 40px;
}

.footer-inner {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.footer-logo-bx {
  width: 240px;
}
.footer-logo-bx p {
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
  margin-top: 12px;
}
.footer-link {
  width: 400px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer-link li {
  list-style: none;
  width: 116px;
}
.footer-link  li a {
  font-size: 12px;
  line-height: 20px;
  color: #BDBDBD;
  font-style: normal;
  font-weight: normal;
}

.footer-contact-bx {
 width: 300px;
}
.footer-contact-bx a {
  font-size: 14px;
line-height: 20px;
color: #BDBDBD;
display: block;
margin-bottom: 10px;
}
.footer-contact-bx a img {
  margin-right: 10px;
}
.footer-contact-bx p {
  font-size: 12px;
line-height: 14px;
color: #BDBDBD;
margin-top: 10px;
margin-bottom: 0;
}
/*Footer ends */



/*Listing Page*/

.search-bar-bx {
  padding: 5px 32px;
  border-bottom: 1px solid#E6E6E6;
  border-top: 1px solid#E6E6E6;
  /* background-color: #fff; */
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.site-breadcrumb {
  display: flex;
  justify-content: flex-start;
  color: #4F4F4F;
  padding: 0;
  margin-bottom: 0;
  align-self: center;
  
}
.site-breadcrumb li {
  list-style: none;
}
.site-breadcrumb span {
 color: #4F4F4F;
  font-size: 12px;
line-height: 16px;
font-style: normal;
font-weight: normal;
margin: 5px;
}
.site-breadcrumb li a {
  color: #4F4F4F;
  font-size: 12px;
line-height: 16px;
font-style: normal;
font-weight: normal;

}

.search-bx {
    background: #FFFFFF;
    position: relative;
}
.search-bx button {
 right: 8px;
}
.search-input .search-input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.listing-header {
  padding: 0;
  margin: 22px 32px;  
  margin-bottom: 0;

}
.headerlisting {
  background-image: url(../images/header-illustrator.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}


.section-listing {
  display: flex;
  margin-top: 132px;
  padding: 32px;
}
.listing-wrapper {
 
 flex: 1;
}
.left-container {
  display: flex;
 justify-content: flex-start;
 align-items: flex-start;
 margin-top: 40px;
}
.filter-sidebar {
 width: 205px;
}
.location-map {
  width: 400px;
  margin-left: 32px;
}
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #23263E;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.filter-header span {
font-size: 12px;
line-height: 14px;
color: #7F8299;
text-decoration: underline;
cursor: pointer;
}
.content-bx {
  border-bottom: 1px solid #e6e6e6;
}
.content-bx h1 {
 font-weight: 500;
font-size: 32px;
line-height: 38px;
color: #23263E;
}
.content-bx h1 span {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4F4F4F;
}
.content-bx p {
  font-size: 14px;
line-height: 17px;
color: #7F8299;
margin-top: 24px;

}

.filter-bx {
  margin-top: 24px;
}
.filter-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7F8299;
}
.filter-title span {
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
}
.currency-filter {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 80px;
  height: 26px;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.currency-filter span {
font-weight: 500;
font-size: 12px;
line-height: 14px;
text-align: center;
color: #23263E;
cursor: pointer;
border-right: 1px solid #E6E6E6;
height: 26px;
display: flex;
justify-content: center;
align-items: center;
padding: 14px;
}
.currency-filter span:last-child {
  border: none;
}


.filter-checkwrapper {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #23263E;
  margin-top: 10px;
}


.filter-checkwrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 3px;
}

.filter-checkwrapper:hover input ~ .checkmark {
  background-color: #fff;
}

.filter-checkwrapper input:checked ~ .checkmark {
  background-color: #fff;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.filter-checkwrapper input:checked ~ .checkmark:after {
  display: block;
}

.filter-checkwrapper .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #FE728B;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.more-link, .more-link:hover {
 font-size: 12px;
line-height: 14px;
color: #7F8299;
text-decoration: underline;
display: inline-block;
margin-top: 12px;
}

.item-container {
  flex: 1;
  margin-left: 30px;
}
.sort-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
 
}
.sort-drpdwn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 8px 0;
}
.sort-drpdwn label {
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #7F8299;
margin-bottom: 0;
margin-right: 15px;
}
.sort-select-field, .sort-select-field:focus {
border: none;
background-color: #fff;
background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
appearance: none;
background-image: url(../images/select-arrow.svg);
background-position: 98%;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
outline: none;
flex: 1;
padding-right: 20px;
background-repeat: no-repeat;
color: #23263E;
}

.item-card {
  background: #FFFFFF;
border: 1px solid #E6E6E6;
box-sizing: border-box;
border-radius: 12px;
padding: 16px;
margin-top: 32px;

}
.card-flex {
 display: flex;
justify-content: flex-start;
align-items: flex-start;
}
.item-thumbnail {
 margin-right: 16px;
 width: 150px;
 height: 150px;
}
.item-thumbnail img {
  width: 100%;
  max-width: 100%;
  width: 150px;
 height: 150px;
 border-radius: 8pxx;
}
.item-detail h2{
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #23263E;
margin-bottom: 12px;

}
.item-detail address {
  font-size: 12px;
  line-height: 14px;
  color: #7F8299;
  margin-bottom: 12px;
}
.item-detail address img {
  margin-right: 5px;
}
.span-tag {
  position: relative;
  margin-left: 20px;
}
.span-tag:before {
  content: '';
  width: 3px;
  height: 3px;
  background-color: #7F8299;
  position: absolute;
  left: -10px;
  border-radius: 50%;
  top:0;
  bottom:0;
  margin: auto;
}
.time-text {
  font-size: 12px;
  line-height: 14px;
  color: #7F8299;
  margin-bottom: 12px;
}
.time-text img {
  margin-right: 5px;
}

.age-bx {
   font-size: 12px;
  line-height: 14px;
  color: #7F8299;
  margin-bottom: 12px
}
.age-bx img {
  margin-right: 5px;
}
.item-detail .item-text {
  font-size: 10px;
line-height: 12px;
color: #7F8299;
background: #EDF9F9;
border-radius: 4px;
padding: 5px;
margin-bottom: 0;
}
.item-detail {
  flex: 1;
  margin-right: 16px;
  position: relative;
}
.btn-bx {
  width: 125px;
}
.rating-bx {
  border: 1px solid #E6E6E6;
box-sizing: border-box;
border-radius: 80px;
padding: 0px 6px;
text-align: center;
}
.rating-bx label {
margin-bottom: 0;
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #23263E;
}
.rating-bx span {
  cursor: pointer;
}
.btn-tour, .btn-tour:focus {
   padding: 7px 14px;
  margin-top: 16px;
}
.btn-tour img {
  margin-right:5px;
}

.btn-send-enquiry, .btn-send-enquiry:focus {
  margin-top: 10px;
  padding: 7px 14px;
}
.more-text-container {
  margin-left: 23%;
  position: relative;
}
.more-text-container p {
  font-size: 14px;
  line-height: 17px;
  color: #7F8299;
  margin-bottom: 24px;
  margin-top: 24px;
}
.item-thumb-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  position: relative;
  width: 100%;

}
.more-thumb {
  position: relative;
  width: 130px;
  height: auto;
  margin-right: 16px;
}
.more-pic {
 background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
border-radius: 6px;
position: absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
cursor: pointer;
}
.item-thumb-wrapper .more-thumb img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 6px;
  cursor: pointer;
  
}
.item-thumb-wrapper .more-thumb:last-child {
  margin-right: 0;
}

.load-more-btn, .load-more-btn:focus {
  width: 155px;
  margin: 40px auto;
} 
/*Listing Page Ends*/

#menuToggle {
  display: none;
}

.filter-mobile { 
  display: none;
}

.close-sidebar {
  display: none;
}

 @media all and (min-width: 320px) and (max-width: 599px) {



 #menuToggle
{
  display: block;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  right: 16px;
  top: 18px;
}




#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-12px, -14px);
  background: #666666;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(-6px, 8px)
}


.nav-list-wrapper {
  display: none;
  margin-top: 40px;
  clear: both;
}
  .nav-list {
    display: block;
    padding: 0;
  }
  .nav-list li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    margin: 0 0;
  }
.menu-show {
  display: block;
}

.inner-header {
 display: block;
 padding: 0;
}

.logo {
  float: left;
  margin: 6px;
}
.search-input {
  width: 100%;
}
.banner-form-wrapper .input-wrap {
  width: 100%;
}
.section-banner {
  height: auto;
}
.banner-form-wrapper {
  padding-bottom: 20px;
}
.banner-cards-wrapper {
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.banner-card {
  margin-top: 20px;
}
.testimonial-inner {
  flex-wrap: wrap;
}
.zip-search-field, .zip-search-field:focus {
  width: 320px;
}
.quiclinkheader {
  flex-wrap: wrap;
}
.footer-inner {
  flex-wrap: wrap;
}
header {
  background-color: #fff;
  height: auto;
}
.banner-form-wrapper h2 {
  text-align: center;
  margin-bottom: 10px;
}
.banner-form-wrapper form h3 {
  text-align: center;
}
.section-testimonials {
  margin-top: 20px;
}
.testimonial-inner {
  justify-content: center;
}
.testimonials-wrapper {
  padding-bottom: 30px;
}
.section-5 {
  margin-top: 30px;
}
.toprated-card {
  width: 100%;
}

.community-wrapper {
  flex-wrap: wrap;
  flex-flow: wrap-reverse;
}
.community-text {
  padding: 20px;
}
.section-6 {
  margin-top: 30px;
}

.community-img {
  height: auto;
  margin-top: 20px;
}

.search-input::placeholder {
font-size: 12px;
color: #828282;
}
.section-7 {
  margin-top: 30px;
}
.daycare-wrapper {
  flex-wrap: wrap;
}
.daycare-heading-bx {
  flex: auto;
  padding: 20px 0px;
}
.daycare-text-bx {
  width: 100%;
}
.section-quicklinks {
  padding: 30px 0;
}
.zip-search {
  margin-top: 20px;
}
.quicklins-wrapper {
  margin-top: 20px;
}
.quicklins-wrapper {
  text-align: left!important;
  padding-left :0
}

/*Listing Page*/

 .search-bar-bx {
  flex-wrap: wrap-reverse;
  padding: 0 16px;
}
.search-bx {
  width: 100%;
  margin-top: 5px;
}
.left-container {
  margin-top: 15px;
}
.section-listing {
  display: block;
  padding: 16px;
}
.left-container {
  flex-wrap: wrap;
}
.listing-wrapper {
  flex: 0;
  
}

.item-container {
  margin-left: 0;
}
.sort-filter {
  justify-content: space-between;
}

.filter-mobile {
 display: flex;
}

 }
/*Listing page ends*/